<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
  font-family:Arial, sans-serif;font-size:16px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
  font-family:Arial, sans-serif;font-size:16px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-1oa0{background-color:#9b9b9b;border-color:inherit;font-family:Georgia, serif !important;;font-size:15px;text-align:center;
  vertical-align:top}
.tg .tg-4t01{background-color:#efefef;border-color:inherit;font-family:Georgia, serif !important;;font-size:15px;text-align:center;
  vertical-align:top}
</style>
